// В этом файле должны быть стили для БЭМ-блока food-card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.food-card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.9375rem;
  width: 320px;
  height: 480px;
  border-radius: 10px;
  cursor: pointer;

  &--default {
    background: linear-gradient(135deg, transparent 30px, $color-default 30px);
  }

  &--selected {
    background: linear-gradient(135deg, transparent 30px, $color-active 30px);
  }

  &--selected-hover {
    background: linear-gradient(135deg, transparent 30px, $color-active-hover 30px);
  }

  &--disabled {
    background: linear-gradient(135deg, transparent 30px, $color-disabled 30px);
    cursor: not-allowed;
  }

  &--hover {
    background: linear-gradient(135deg, transparent 30px, $color-default--hover 30px);
  }

  &__content {
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 312px;
    height: 472px;
    border-radius: 10px;
    background: linear-gradient(135deg, transparent 29px, $color-card-bg 29px);
    padding-top: 1.125rem;
    padding-left: 2.75rem;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    bottom: -6px;
    left: -3px;
  }

  &__promo {
    letter-spacing: 0.01px;
    color: $description-text-color;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
  }

  &__promo-cat {
    display: none;
    color: $color-active-hover;
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 3rem;
  }

  &__stuffing {
    margin-bottom: 1.125rem;
    line-height: 0.9;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__description-item {
    color: $description-text-color;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 0.875rem;
  }

  &__description-number {
    font-weight: 700;
  }

  &__weight {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 12px;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 5rem;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    text-align: center;
    line-height: 0.9;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
  }

  &__weight--default {
    background-color: $color-default;
  }

  &__weight--default-hover {
    background-color: $color-default--hover;
  }

  &__weight--selected {
    background-color: $color-active;
  }

  &__weight--selected-hover {
    background-color: $color-active-hover;
  }

  &__weight--disabled {
    background-color: $color-disabled;
  }

  &__weight-value {
    line-height: 0.6;
    font-size: 2.625rem;
  }

  &__weight-units {
    font-size: 1.25rem;
  }

  &__disabled-layout--on {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent 29px, $color-card-bg 29px);
  }
}