// В этом файле должны быть стили для БЭМ-блока cards, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  overflow: hidden;
}

@media (max-width: $screen-lg) {
  .cards {
    justify-content: center;
  }
}