$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1240px;
$screen-xl:                   1920px;

$text-color:                  #000;
$description-text-color:      #666666;

$font-size:                   14px;

$color-active:                #d91667;
$color-active-hover:          #e62e7a;
$color-default:               #1698d9;
$color-default--hover:        #2ea8e6;
$color-disabled:              #b3b3b3;
$color-card-bg:               #f2f2f2;
$color-hghlight:              #ffff66;
