// В этом файле должны быть стили для БЭМ-блока main-content, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
//
.main-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #252627;
}