mixin main-content()
  
  main(role='main')
    img.main-img(src='img/pattern.png' alt='pattern')
    img.main-img(src='img/shadow.png' alt='pattern')
    section.cat-food
      .container
        h1.cat-food__main-title Ты сегодня покормил кота?
        .cards
          .cards__wrapper
            article.cards__item.food-card.food-card--default(tabindex='0' role='article' aria-label='Блюдо для котика №1')
              .food-card__content
                .food-card__disabled-layout
                img.food-card__img(src='img/cat.png' alt='cat')
                p.food-card__promo.food-card__promo-food Сказочное заморское яство
                p.food-card__promo.food-card__promo-cat Котэ не одобряет?
                h2.food-card__title Нямушка
                p.food-card__stuffing с фуа-гра
                .food-card__description
                  p.food-card__description-item
                    span.food-card__description-number 10
                    |  порций
                  p.food-card__description-item мышь в подарок
                .food-card__weight.food-card__weight--default
                  p.food-card__weight-value
                    | 0,5
                    br
                    span.food-card__weight-units кг
            p.cards__text.cards__text--stuffing.js-inactive Печень утки разварная с артишоками.
            p.cards__text.cards__text-buy
              | Чего сидишь? Пораду котэ, 
              a.cards__text-link(href='#' tabindex='0') купи.
            p.cards__text.cards__text--out-of-stock.js-inactive Печалька, с фуа-гра закончился.
          .cards__wrapper
            article.cards__item.food-card.food-card--default(tabindex='0' role='article' aria-label='Блюдо для котика №2')
              .food-card__content
                .food-card__disabled-layout
                img.food-card__img(src='img/cat.png' alt='cat')
                p.food-card__promo.food-card__promo-food Сказочное заморское яство
                p.food-card__promo.food-card__promo-cat Котэ не одобряет?
                h2.food-card__title Нямушка
                p.food-card__stuffing с рыбой
                .food-card__description
                  p.food-card__description-item
                    span.food-card__description-number 40
                    |  порций
                  p.food-card__description-item 2 мыши в подарок
                .food-card__weight.food-card__weight--default
                  p.food-card__weight-value
                    | 2
                    br
                    span.food-card__weight-units кг
            p.cards__text.cards__text--stuffing.js-inactive Головы щучьи с чесноком да свежайшая сёмгушка.
            p.cards__text.cards__text-buy
              | Чего сидишь? Пораду котэ, 
              a.cards__text-link(href='#' tabindex='0') купи.
            p.cards__text.cards__text--out-of-stock.js-inactive Печалька, с рыбой закончился.
          .cards__wrapper
            article.cards__item.cards__item--disabled.food-card.food-card--disabled(tabindex='0' role='article' aria-label='Блюдо для котика №3')
              .food-card__content
                .food-card__disabled-layout.food-card__disabled-layout--on
                img.food-card__img(src='img/cat.png' alt='cat')
                p.food-card__promo.food-card__promo-food Сказочное заморское яство
                p.food-card__promo.food-card__promo-cat Котэ не одобряет?
                h2.food-card__title Нямушка
                p.food-card__stuffing с курой
                .food-card__description
                  p.food-card__description-item
                    span.food-card__description-number 100
                    |  порций
                  p.food-card__description-item 5 мышей в подарок
                  p.food-card__description-item заказчик доволен
                .food-card__weight.food-card__weight--disabled
                  p.food-card__weight-value
                    | 5
                    br
                    span.food-card__weight-units кг
            p.cards__text.cards__text--stuffing.js-inactive Филе из цыплят с трюфелями в бульоне.
            p.cards__text.cards__text-buy.js-inactive
              | Чего сидишь? Пораду котэ, 
              a.cards__text-link(href='#' tabindex='0') купи.
            p.cards__text.cards__text--out-of-stock.js-active Печалька, с курой закончился.

      